<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PolesSU_DB" 
         connectionString="Data Source=WIN-PV467FU2UKN;Initial Catalog=SportSectionsPolesSU; User ID = PolesSU; Password = 123456789; TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>